html, body, div, ul, li, table, tr, td, tbody {
    padding: 0px;
    margin: 0px;
    list-style: none;
    cursor: default;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background: #3c5a75;
}

table, tr, td, tbody {
    border: 0px;
}

.selectable_text {
    -moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
    user-select: text;
    cursor: text;
}

.datatable_wrap {
    position: fixed;
    top: 58px;
    left: 220px;
    right: 0px;
    bottom: 0px;
    display: block;
    overflow: auto;
    padding: 10px;
    padding-top: 5px;
}

.datatable {
    border-collapse: collapse;
}

.datatable tr {
    color: #DDD;
}

.datatable th {
    text-align: center;
    background: #213140;
    padding: 2px;
    color: white;
    font-family: Verdana;
    font-weight: normal;
    font-size: 13px;
    border: 1px solid black;
}

.datatable tr:hover {
    background: #c2c25f;
    color: #000;
}

.datatable td {
    text-align: center;
    padding: 3px;
    border: 1px solid black;
    font-family: Verdana;
    font-size: 11px;
}

.datatable_empty {
    color: white;
    position: absolute;
    top: 50%;
    left: 0px;
    right: 0px;
    text-align: center;
    font-size: 11px;
    font-family: Verdana;
}

.entities_list {
    position: fixed;
    top: 58px;
    left: 0px;
    width: 220px;
    bottom: 0px;
    border-right: 1px solid black;
    padding-top: 5px;
}

.entities_list_item {
    color: white;
    font-size: 13px;
    font-family: Arial;
    padding-bottom: 4px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 4px;
    margin-left: 4px;
    margin-right: 4px;
    border-radius: 3px;
}

.entities_list_item:hover {
    background: #21011F;
}

.entities_list_item[data-selected="1"] {
    background: #213140;
    color: #FF9;
}

.context_query {
    position: fixed;
    top: 29px;
    width: 459px;
    right: 3px;
    height: 23px;
    background: #222;
    line-height: 23px;
    outline: none;
    border: 0px;
    box-shadow: inset 0px 0px 22px #444;
    color: #EEE;
    font-family: Verdana;
    font-size: 14px;
    border-radius: 10px;
    padding-left: 8px;
    padding-right: 8px;
    font-weight: normal;
}

.context_query::-webkit-input-placeholder {
    color: #999;
}

.context_list {
    position: fixed;
    top: 25px;
    left: 0px;
    right: 0px;
    height: 33px;
    background: #222;
    line-height: 23px;
}

.context_list_item {
    color: white;
    background: #111;
    padding-left: 6px;
    position: static;
    display: inline-block;
    padding-right: 5px;
    border: 1px solid #444;
    text-shadow: 0px 1px 2px black;
    font-family: Arial;
    font-size: 13px;
    margin: 4px;
    border-radius: 5px;
}

.context_list_item:hover {
    background: #333;
}

.context_list_item[data-selected="1"] {
    background: #213140;
    color: #FF9;
}

.tree_parent {
    display: inline-block;
    border-right: 2px dotted #000;
    padding: 5px;
    position: fixed;
    top: 25px;
    bottom: 0px;
    left: 0px;
    width: 230px;
    overflow: auto;
}

.tree_expand {
    color: white;
    text-shadow: 0px 1px 2px black;
    display: inline;
    white-space: nowrap;
    font-size: 22px;
}

.tree_node_name {
    color: white;
    text-shadow: 0px 1px 2px black;
    display: inline;
    padding-left: 2px;
    padding-right: 5px;
    white-space: nowrap;
}

.tree_node_name:hover {
    background: #21011F;
    border-radius: 3px;
    box-shadow: 0px 0px 3px #213140;
}

.tree_node_name_selected {
    background: #213140;
    border-radius: 3px;
    box-shadow: 0px 0px 3px #213140;
}

.tree_node_name:active {
    opacity: 0.5;
    -moz-opacity: 0.5;
    filter: alpha(opacity=5);
}

.tree_node {
    margin-left: 10px;
}

.tree_child {
    display: none;
}

.preview {
    position: fixed;
    top: 0px;
    right: 0px;
}

.screen_root_node {
    background-repeat: no-repeat;
    cursor: crosshair;
    background-position: -1px -1px;
    overflow: hidden;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.screen_node {
    position: absolute;
    cursor: crosshair;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    border: 1px solid transparent;
}

.screen_node_debug {
    border: 1px solid red;
}

.screen_node:hover {
    border: 1px solid red;
}

.screen_node_focused {
    background: yellow;
    opacity: 0.8;
    -moz-opacity: 0.8;
    filter: alpha(opacity=8);
}

.screen_zoom {
    z-index: 100;
    position: absolute;
    font-size: 25px;
    width: 20px;
    text-align: center;
    color: white;
    text-shadow: 0px 1px 1px black;
    font-weight: bold;
}

.screen_zoom:hover {
    color: #CCC;
}

.screen_zoom:active {
    opacity: 0.8;
    -moz-opacity: 0.8;
    filter: alpha(opacity=8);
}

.screen_zoom_in {
    top: 0px;
    right: 22px;
}

.screen_zoom_out {
    top: 0px;
    right: 2px;
}

.screen_rot_left {
    top: 0px;
    left: 6px;
}

.screen_rot_right {
    top: 0px;
    left: 33px;
}

.screen_parent {
    position: fixed;
    right: 252px;
    top: 25px;
    left: 241px;
    bottom: 0px;
    background-repeat: no-repeat;
    overflow: hidden;
    cursor: crosshair;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
}

.navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 25px;
    color: white;
    background: #333;
    box-shadow: 0px 0px 10px #000;
}

.navbar_title {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 8px;
    line-height: 25px;
    font-size: 16px;
}

.navbar_loading {
    position: absolute;
    top: 2px;
    left: 50%;
    margin-left: -50px;
    font-size: 19px;
    color: yellow;
}

.editor_parent {
    position: fixed;
    top: 25px;
    bottom: 0px;
    border-left: 2px dotted #000;
    width: 251px;
    right: 0px;
    overflow: auto;
}

.editor_row_label {
    padding: 5px;
    font-size: 18px;
    color: #CCC;
    background: #222;
    text-shadow: 0px 1px 1px black;
}

.editor_row_empty {
    padding: 10px;
    text-align: center;
    font-style: italic;
    color: #222;
}

.editor_row_value {
    display: inline;
    color: #FF9;
    font-size: 15px;
    text-shadow: 0px 1px 1px black;
    background: transparent;
    outline: none;
    border: 0px;
    margin-left: 7px;
    min-width: 200px;
}

.editor_row_value_editable {
    color: yellow;
}

.editor_row_value_editable:hover {
    background: #213140;
}

.editor_row_type {
    display: block;
    padding: 1px;
    overflow: hidden;
    color: #59F;
    text-shadow: 0px 1px 1px black;
}

.editor_row_name {
    display: inline-block;
    font-size: 15px;
    color: white;
    text-shadow: 0px 1px 1px black;
}

.editor_row_parent {
    padding: 2px;
    border-bottom: 1px solid #222;
    padding-left: 5px;
    overflow: hidden;
}

.editor_row_parent:hover {
    background: #2c4a65;
}

.editor_row_parent:active {
    opacity: 0.9;
    -moz-opacity: 0.9;
    filter: alpha(opacity=9);
}

.checkbox {
    margin-left: 15px;
    display: block;
    margin-top: 4px;
}

.checkbox_marker {
    display: block;
    width: 12px;
    height: 15px;
    line-height: 15px;
    border: 1px solid #666;
    margin-right: 5px;
    float: left;
}

.splitter {
    position: fixed;
    top: 25px;
    bottom: 0px;
    width: 16px;
    cursor: move;
    opacity: 0.8;
    -moz-opacity: 0.8;
    filter: alpha(opacity=8);
}

.error_box {
  position: fixed;
  top: 48%;
  left: 50px;
  right: 50px;
  text-align: center;
  color: #FF9;
  font-size: 25px;
}
